.sidebar-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--panel-background);
  display: flex;
  flex-direction: column;
  z-index: 1;
  will-change: transform;
  backface-visibility: hidden;
}

.sidebar-page-top-divider {
  min-height: 3px;
  background: linear-gradient(0deg, transparent 0%, var(--border) 100%);;
}

.sidebar-page-content {
  padding: 0 8px 8px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
}

.sidebar-page-section {
  padding: 8px 0;
}

.sidebar-page-section-divider {
  margin: 0 -8px;
  width: calc(100% + 16px);
  border-bottom: 1px solid var(--border);
}
