.dialog-details {
  max-width: 75%;
  flex: 1 1 75%;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--chat-background);
  background-size: cover;
  background-position: center;
  transition: background-image 0.25s ease;
  position: relative;
}

.dialog-details::after {
  mask: url(../../assets/bubble-tail-left.svg);
  content: 'a';
  font-weight: bold;
  width: 0;
  height: 0;
  position: absolute;
}

.dialog-details-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.light .dialog-details,
.dark .dialog-details {
  overflow: hidden;
}

.dialog-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--chat-background);
  background-size: cover;
  background-position: center;
}

.light .dialog-background {
  background-image: url('../../assets/camomile_blurred.jpg');
}

.page-small .dialog-details {
  max-width: calc(100% - 89px);
  flex: 1 1 calc(100% - 89px);
}

.page-third-column .dialog-details {
  max-width: 50%;
  flex: 1 1 50%;
}

.page-small.page-third-column .dialog-details {
  max-width: calc(75% - 89px);
  flex: 1 1 calc(75% - 89px);
}