.inputbox-background {
}

.inputbox {
    /*padding: 0 12px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    box-sizing: border-box;
    /*border-top-width: 1px;*/
    /*border-top-style: solid;*/
    /*border-color: var(--border);*/
    padding: 0 0 25px;
    width: calc(100% - 22px);
    max-width: 695px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

@media (max-width: 600px) {
    .inputbox:before {
        left:0;
        right: 0;
        z-index: -1;
        /* --shadow-color:#678a64 */
    }
}

@media screen and (min-height: 750px) {
    .inputbox:before {
        /* --shadow-color:#759b72 */
    }
}

@media screen and (min-width: 1276px) {
    .inputbox:before {
        /* --shadow-color:#97af8e */
    }
}

@media screen and (min-width: 1276px) and (min-height:750px) {
    .inputbox:before {
        /* --shadow-color:#91a67f */
    }
}

.inputbox::before {
    /* --shadow-color: #84a686; */
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -34px;
    right: 0;
    /* height: 50%; */
    box-shadow: 0 0 0.5rem 0.5rem var(--shadow-color);
    background: var(--shadow-color);
}

.dark .inputbox::before {
    --shadow-color: var(--chat-background) !important;
}

.inputbox-icon-button {
    padding: 6px;
    margin: 9px;
}

.inputbox-bubble {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    width: calc(100% - 63px);
    border-radius: 12px 12px 0 12px;
    box-shadow: 0 1px 2px 0 rgba(16, 35, 47, 0.15);
    margin-right: 9px;
    background: var(--message-in-background);
    min-height: 54px;
    z-index: 1;
}

.inputbox-bubble::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 17px;
    content: '';
    mask: url(../../assets/bubble-tail-left.svg);
    transform: translateX(7px) scaleX(-1);
    box-sizing: border-box;
    background: var(--message-in-background);
}

.inputbox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.inputbox-recording #inputbox-message,
.inputbox-recording .inputbox-wrapper {
    pointer-events: none;
}


#inputbox-message {
    box-shadow: 0 0 0 0;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 16px 0 16px 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
}

#inputbox-message::before {
    /*content: attr(placeholder);*/
    color: #8e9396;
    pointer-events: none;
    transform: translateX(20px);
    will-change: transform;
    opacity: 0;
    /*position: absolute;*/
    transition: opacity 0.15s ease-out, transform 0.15s ease-out;
}

#inputbox-message:empty::before {
    content: attr(placeholder);
    transform: translateX(0px);
    opacity: 0.75;
}

#inputbox-message:empty:active::before,
#inputbox-message:empty:focus::before {
    opacity: 0.75;
}

#inputbox-message:focus {
    border: 0;
    outline: none;
    box-shadow: 0 0 0 0;
}

.inputbox-attach-button {
    /* display: none; */
}

.inputbox-left-column {

}

.inputbox-middle-column {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.inputbox-right-column {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    min-height: 54px;
}

.inputbox-send-button {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.inputbox-send-accent-button {
    color: var(--color-accent-main);
}

.inputbox-cancel-record-button {
    width: 100%;
    height: 100%;
    /*color: var(--color-);*/
    z-index: 1;
}

.inputbox-cancel-record-button-background {
    margin: 0 8px 0 0;
    min-width: 54px;
    height: 54px;
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 rgba(16, 35, 47, 0.15);
    background: var(--panel-background);
    z-index: 1;
}

.inputbox-send-button-background {
    margin: 0;
    min-width: 54px;
    height: 54px;
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 rgba(16, 35, 47, 0.15);
    background: var(--panel-background);
    z-index: 1;
}
