.inputbox-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -18px;
}

.inputbox-header-left-column {

}

.inputbox-header-middle-column {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.inputbox-header-right-column {
  min-width: 54px;
}
