.dialog-title {
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  display: flex;
  align-items: center;
  color: var(--dialog-color);
}

.chat-big .dialog-title {
  font-size: 24px;
  line-height: normal;
}

.dialog-title-span {
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dialog-title-icon {
  height: 16px;
  color: var(--color-accent-main);
}
