 .dialog-meta {
  font-size: 12px;
  white-space: nowrap;
  margin: 1px 0 0 6px;
  color: var(--dialog-meta-color);
  display: flex;
  flex-direction: row;
}

.dialog-meta .status {
  color: var(--dialog-meta-read-color);
}
