:root {
  --text-primary: #000000;
  --text-secondary: #707579;
  --text-disabled: rgba(0, 0, 0, 0.38);

  --z-index-modal: 1300;

  --error: #e53935;

  --tile-size-big: 120px;
  --tile-size: 54px;
  --tile-size-normal: 48px;
  --tile-size-small: 33px;
  --tile-size-extra-small: 16px;

  --color-accent-main: #50a2e9;
  --color-accent-main44: #50a2e944;
  --color-accent-main88: #50a2e988;
  --color-accent-light: #50a2e9;
  --color-accent-dark: #50a2e9;
  --color-grey700: rgba(97, 97, 97, 0.9);
  --color-grey: #9aa7b2;
  --color-hover: #70757914;

  --search-input-background: #f4f4f5;
  --search-input-icon: #9aa7b2;

  --border: #dadce0;
  --panel-background: #ffffff;
  --chat-background: #e6ebee;
  --background: #ffffff;
  --background-paper: #ffffff;
  --shared-media-background: #fafafa;

  --header-color: #000000;
  --header-subtle-color: #707579;

  --badge-unmuted: #4dcd5e;
  --badge-muted: #c4c9cc;
  --badge-item-selected: hsl(208, 77.7%, 76.4%);

  --online-indicator: #0ac630;

  --dialog-color: #000000;
  --dialog-subtle-color: #707579;
  --dialog-meta-color: #5f6369;
  --dialog-meta-read-color: #4fae4e;

  --media-in-tile-background: #50a2e9;
  --media-out-tile-background: #50a2e9;

  --message-keyboard-button: #00000033;
  --message-keyboard-button-hover: #00000022;

  --message-service-background: #00000033;
  --message-service-color: #ffffff;

  --message-in-link: #50a2e9;
  --message-in-author: #50a2e9;
  --message-in-background: #ffffff;
  --message-in-color: #000000;
  --message-in-subtle-color: #707579;
  --message-in-meta-color: #8d969c;
  --message-in-reply-title: #50a2e9;
  --message-in-reply-border: #50a2e9;
  --message-in-control: #50a2e9;
  --message-in-control-hover: #50a2e922;
  --message-in-control-border: #50a2e977;
  --message-in-control-border-hover: #50a2e9;

  --message-out-link: #4fae4e;
  --message-out-author: #4fae4e;
  --message-out-background: #eeffde;
  --message-out-color: #000000;
  --message-out-subtle-color: #4fae4e;
  --message-out-meta-color: #4fae4e;
  --message-out-reply-title: #4fae4e;
  --message-out-reply-border: #4fae4e;
  --message-out-control: #4fae4e;
  --message-out-control-hover: #4fae4e22;
  --message-out-control-border: #4fae4e77;
  --message-out-control-border-hover: #4fae4e;
}
