.password-wrapper {
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  padding: 8px 0 0 0;
}

.password-actions {
  text-align: center;
}

.password-hint-label {
  /*color: black;*/
}

.auth-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: '0 auto 7px';
}
