.auth-root {
  display: flex;
  flex-direction: column;
  width: 360px;
  flex-shrink: 0;
}

.auth-title {
  font-size: 32px;
  font-weight: 500;
  margin: 0 auto 7px auto;
}

.auth-title-typography {
  font-size: 32px;
  font-weight: 500;
}

.auth-subtitle {
  color: var(--text-secondary);
  min-height: 72px;
  margin: 0 auto 14px auto;
  text-align: center;
}

.auth-button {
  margin: 12px 0;
  padding: 15px 16px;
  color: white;
}

.auth-input {
  margin: 16px 0;
}

.sign-in-wrapper {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
}

.sign-in-actions {
  display: flex;
  flex-direction: column;
}

.sign-in-keep {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 360px;
  height: 56px;
  margin: -4px 12px 4px;
  padding: 0 7px;
}

.sign-in-logo {
  width: 160px;
  height: 160px;
  margin: 107px auto 44px;
}

.sign-in-continue-on {
  text-align: center;
  cursor: pointer;
  height: 54px;
  margin: 12px 0;
}
